<!DOCTYPE html>
<html lang="en">
    @model DACS.Models.Class

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create New Class";
}
<head>



</head>

<body>


</body>

</html>