<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="~/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--Preloader end-->
    <!--Main wrapper start-->
    <div id="main-wrapper">

        <!--Nav header start-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--Nav header end-->
        <!--Header start-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./Account/Logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                    <partial name="_LoginPartial" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--Header end -->
        <!--Sidebar start-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-single-04"></i><span class="nav-text">Tổng quan</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="Class" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-app-store"></i><span class="nav-text">Danh sách phòng học</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="LoanEquipmentTicket" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-chart-bar-33"></i><span class="nav-text">Phiếu mượn thiết bị</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="LoanEquipment" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-world-2"></i><span class="nav-text">Thiết bị cho mượn</span>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-plug"></i><span class="nav-text">Quản lí tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="IssueReports" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-globe-2"></i><span class="nav-text">Quản lí thông báo sự cố</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="IssueDetail" asp-action="Index" aria-expanded="false">
                            <i class="icon icon-form"></i><span class="nav-text">Quản lí sự cố</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-layout-25"></i><span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--Sidebar end-->
        <!--Content body start-->
        <div class="content-body">
            @RenderBody()
        </div>
        <!--Content body end-->
        <!--Footer start-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © 2024 </p>
            </div>
        </div>
        @* Render the body of the page *@

        <!-- Content here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Required vendors -->
        <script src="~/vendor/global/global.min.js"></script>
        <script src="~/js/quixnav-init.js"></script>
        <script src="~/js/custom.min.js"></script>

        <!-- Vectormap -->
        <script src="~/vendor/raphael/raphael.min.js"></script>
        <script src="~/vendor/morris/morris.min.js"></script>

        <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>

        <script src="~/vendor/gaugeJS/dist/gauge.min.js"></script>

        <!-- flot-chart js -->
        <script src="~/vendor/flot/jquery.flot.js"></script>
        <script src="~/vendor/flot/jquery.flot.resize.js"></script>

        <!-- Owl Carousel -->
        <script src="~/vendor/owl-carousel/js/owl.carousel.min.js"></script>

        <!-- Counter Up -->
        <script src="~/vendor/jqvmap/js/jquery.vmap.min.js"></script>
        <script src="~/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
        <script src="~/vendor/jquery.counterup/jquery.counterup.min.js"></script>

        <script src="~/js/dashboard/dashboard-1.js"></script>
        
        @RenderSection("Scripts", required: false)
</body>
</html>
